.selectize-input.not-full{
  border-color:red;
}

.selectize-input.full{
  border-color:green;
}


.field-wrap{
  padding-left:1em;
}

.mapping-domain{
padding:0.5em;
border:1px solid black;
border-radius:0.2em;
margin-bottom:1em;
max-width:45%;
}

table.dataTable tr > td:last-of-type, table.dataTable tr > th:last-of-type {
  border-left:2px solid black;
  background:#d0d1e6;
}
